<div class="data-list-container row">
    <div class="col-3">
        <ng-container *ngIf="storiesList !== undefined">
            <h3>Stories List</h3>
            <ul class="list-group">
                <li *ngFor="let list of storiesList" class="list-group-item cur-pointer" (click)="dataToShow = list">
                    {{list.title}}
                </li>
            </ul>
        </ng-container>
        
    </div>
    <div class="col-9">
        <ng-container *ngIf="dataToShow !== undefined">
            <h3>Story</h3>
            <div class="container border border-5 row">
                <span class="mb-2">
                    <strong>Title:</strong> {{dataToShow.title}}
                </span>
                <span class="mb-2">
                    <strong>Description:</strong> <br>{{dataToShow.description}}
                </span>
                <span class="mb-2">
                    <strong>Status:</strong> 
                    {{getPublishedStatus(dataToShow.published)}}
                </span>
            </div>
            <button type="button" class="btn btn-primary mt-3" (click)="routeTo('addstory')">Edit Story</button>
        </ng-container>
        
    </div>

    <button type="button" class="btn btn-danger col-3 mt-3" (click)="removeAll()">Remove All</button>
</div>